/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url("https://fonts.googleapis.com/css?family=Comfortaa");

@font-face {
  font-family: digital-7;
  src: url(fonts/digital-7.mono.ttf);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of css reset */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

::selection{
  background: white;
  color: black;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: grey;
}

html{
  height: 100%;
}

body{
  color: white;
  font-family: 'Comfortaa';
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bg-image{
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url('img/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#real-body{
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#clock-container{
  margin-top: 10px;
  margin-left: 18px;
}

#clock{
  font-family: digital-7;
  font-size: 3rem;
  color:rgba(255, 255, 255, 0.5);
}

#settings-menu{
  transition:300ms;
  height: 40px;
  margin-top: 20px;
  margin-right: 18px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: none;
  display: flex;
  flex-wrap: wrap;
}

#settings-button{
  padding: 0;
  border: 0;
  background-color: transparent;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

#settings-img{
  margin: 10%;
  height: 80%;
  width: 80%;
  transition: transform 0.4s;
  opacity: 0.5;
}

.menu-button{
  display: none;
  padding: 0;
  border: 0;
  background-color: transparent;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.menu-img{
  opacity: 0.5;
  margin: 10%;
  height: 80%;
  width: 80%;
  transition: 0.5s;
}

#links-menu{
  display: none;
  position: absolute;
  top: 65px;
  right: 80px;

  width: 160px;
  /* height: 200px; */
  background-color: rgba(255, 255, 255, 0.2);

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: none;

  box-shadow: 0px 3px 8px 0px rgb(25 28 31 / 45%);
  transition: 200ms;

  flex-direction: column;
}


.links-menu-row{
  display: flex;
  justify-content: space-between;
  margin: 3px 10px;
}

#first-links-menu-row{
  margin-top: 15px;
}

#last-links-menu-row{
  margin-bottom: 15px;
}

main{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[id=search]{
  margin-top: 15px;
  font-family: 'Comfortaa';
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: none;
  color: white;
  width: 250px;
  height: 30px;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}
    
input[id=search]:focus {
  outline: none;
  color: white;
}

input[id=search]:hover{
  background-color: rgba(255, 255, 255, 0.3);
}

#submit{
  display: none;
}

footer{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
}

.link-container{
  display: none;
  margin: 0 10px 20px;
}

@media only screen and (max-width: 550px) {
  footer{
    flex-direction: column;
    align-items: center;
  }

  .link-container{
    margin: 4 0px;
  }
}